<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link href="/static/_dp/css/bootstrap.css" rel="stylesheet">
    <link href="/static/_dp/css/site.css" rel="stylesheet">
    <link href="/static/_dp/css/bg.css" rel="stylesheet">

<body>
<div class="wrap">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <div class="navbar-header"></div>
            <div id="bg_menus_div" class="navbar-brand menus_root"></div>
            <div id="w0-collapse" class="collapse navbar-collapse">

            </div>
        </div>
    </nav>
    <div class="container">
        <script src="/static/_dp/js/hammer/kl-hammer.js"></script>
        <script src="/static/_dp/js/string/string.js"></script>
        <script src="/static/_dp/js/string/jsencrypt.js"></script>
        <script src="/static/_dp/js/string/md5.js"></script>
        <script src="/static/_dp/js/bg.js"></script>

        <div class="site-index">

            <div>

            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="page-header" id="h1">登录</h3>
                </div>
                <div class="panel-body">
                    <p id="subject_detail"></p>
                </div>
            </div>


            <div class="body-content" id="content_div">


            </div>

        </div>
        <script>

            domLoaded(function () {
                localStorage.removeItem('utk');
                let root_div = new Emt('div');
                kl.id('content_div').append(root_div);

                let un_input = new Emt('input', 'type="text"');
                let psw_input = new Emt('input', 'type="password');
                let submit_btn = new Emt('button', 'type="button"', '登录');
                root_div.addNodes([
                    new Emt('from').addNodes([
                        new Emt('p').addNodes([
                            new Emt('label').setPros({textContent: '账号'}),
                            un_input
                        ]),
                        new Emt('p').addNodes([
                            new Emt('label').setPros({textContent: '密码'}),
                            psw_input
                        ]),
                        new Emt('p').addNodes([
                            new Emt('label').setPros({textContent: '#'}),
                            submit_btn
                        ]),
                    ])
                ]);


                submit_btn.addEventListener('click', function () {
                    let encrypt = new JSEncrypt();
                    encrypt.setPublicKey(serverData.publicKey);
                    //https://github.com/openstack/xstatic-jsencrypt/blob/master/xstatic/pkg/jsencrypt/data/jsencrypt.js
                    let md5_str = hex_md5(psw_input.value);
                    let rsa_str = encrypt.encrypt(md5_str);

                    console.log(md5_str);
                    kl.ajax({
                        url: '/_dp/v1/user/login',
                        data: {
                            username: un_input.value,
                            password: rsa_str,
                        },
                        type: 'json',
                        success: function (res_login) {
                            if (res_login.status) {
                                if (res_login.status === 200 && res_login.data && res_login.data.token) {
                                    localStorage.setItem('utk', res_login.data.token);
                                    document.location = '/dp/index';
                                } else {
                                    alert(' 登录失败:' + (res_login.msg || '未知'));
                                }
                            } else {
                                console.log(res_login.status);
                                alert('登录失败 请求结果异常');
                            }
                        },
                        error: function (res_login) {
                            console.log(res_login);
                            alert('登录失败 网络异常');
                        }
                    });
                });


            });
        </script>
        <style>


        </style>
        <script></script>
    </div>
</div>

<script>

</script>


</body>
</html>

