<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改密码</title>
    <link href="/static/_dp/css/bootstrap.css" rel="stylesheet">
    <link href="/static/_dp/css/site.css" rel="stylesheet">
    <link href="/static/_dp/css/bg.css" rel="stylesheet">

    <script src="/static/_dp/js/hammer/kl-hammer.js"></script>
    <script src="/static/_dp/js/string/string.js"></script>
    <script src="/static/_dp/js/bg.js"></script>
    <script src="/static/_dp/js/string/string.js"></script>
    <script src="/static/_dp/js/string/jsencrypt.js"></script>
    <script src="/static/_dp/js/string/md5.js"></script>

    <script src="/static/_dp/js/jquery.js"></script>
    <script src="/static/_dp/js/bootstrap.js"></script>

</head>
<body>
<div class="wrap">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar">
        <nav id="w0" class="navbar-inverse navbar-fixed-top navbar">
            <div class="container">
                <div id="menu_toggle_btn" class="navbar-brand menu_toggle_btn">导航</div>
                <div id="page_title" class="navbar-brand page_title">【修改密码】</div>
            </div>
        </nav>
    </nav>
    <div class="container">
        <div class="site-index">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="page-header" id="h1">【修改密码】</h3>
                </div>
                <div class="panel-body">
                    <p id="subject_detail"></p>
                </div>
            </div>
            <div class="body-content" id="content_div">
            </div>
        </div>
    </div>
</div>


<script>
    domLoaded(function () {


        let utk = '';
        bg_init(function () {
            utk = window.utk;
            content();
        });
        let content = function () {

            let root_div = new Emt('div');
            kl.id('content_div').append(root_div);

            let pub_key = '';
            let psw_input1 = new Emt('input', 'type="text"');
            let psw_input2 = new Emt('input', 'type="text');
            let submit_btn = new Emt('button', 'type="button"', '修改');
            root_div.addNodes([
                new Emt('from').addNodes([
                    new Emt('p').addNodes([
                        new Emt('label').setPros({textContent: '密码'}),
                        psw_input1
                    ]),
                    new Emt('p').addNodes([
                        new Emt('label').setPros({textContent: '确认'}),
                        psw_input2
                    ]),
                    new Emt('p').addNodes([
                        new Emt('label').setPros({textContent: '#'}),
                        submit_btn
                    ]),
                ])
            ]);


            kl.ajax({
                url: '/static/_dp/key/admin_bg.pub.key',
                data: {},
                type: 'text',
                method: 'GET',
                success: function (res_request_data) {
                    if (res_request_data.indexOf('-----BEGIN PUBLIC KEY-----') === 0) {
                        pub_key = res_request_data;
                    } else {
                        alert('获取公钥 请求结果异常');
                        throw '别看了，公钥 信息都拿不到，还想干啥?';
                    }
                },
                error: function (res_request_data) {
                    console.log(res_request_data);
                    alert('获取公钥 网络异常');
                    throw '别看了，连获取公钥 信息都拿不到，还想干啥?';

                }
            });
            submit_btn.addEventListener('click', function () {
                let encrypt = new JSEncrypt();
                encrypt.setPublicKey(pub_key);

                let encrypt2 = new JSEncrypt();
                encrypt2.setPublicKey(pub_key);

                //https://github.com/openstack/xstatic-jsencrypt/blob/master/xstatic/pkg/jsencrypt/data/jsencrypt.js
                if (psw_input1.value !== psw_input2.value) {
                    alert('密码不一致');
                    return false;
                }
                let psw1_md5_str = hex_md5(psw_input1.value);
                let psw2_md5_str = hex_md5(psw_input2.value);
                console.log(psw1_md5_str, psw2_md5_str);
                let psw1_rsa_str = encrypt.encrypt(psw1_md5_str);
                let psw2_rsa_str = encrypt2.encrypt(psw2_md5_str);

                kl.ajax({
                    url: '/_dp/v1/user/resetPsw?user_token=' + utk,
                    data: {
                        psw1: psw1_rsa_str,
                        psw2: psw2_rsa_str,
                    },
                    type: 'json',
                    success: function (res_login) {
                        if (res_login.status) {
                            if (res_login.status === 200) {
                                alert('修改成功，将要跳转');
                                document.location = '/dp/login'    ;
                            } else {
                                alert(' 获取表信息 错误:' + (res_login.msg || '未知'));
                                throw '别看了，连table info 信息都拿不到，还想干啥?';
                            }
                        } else {
                            console.log(res_login.status);
                            alert('获取表信息 请求结果异常');
                            throw '别看了，连table info 信息都拿不到，还想干啥?';
                        }
                    },
                    error: function (res_login) {
                        console.log(res_login);
                        alert('获取表信息 网络异常');
                        throw '别看了，连table info 信息都拿不到，还想干啥?';

                    }
                });
            });


        };


    });

</script>
<style>

</style>



</body>
</html>
