.container {
    width: 100% !important;
}

.hide_btn_sort_asc > .btn_sort_asc {
    display: none;
}

.hide_btn_sort_desc > .btn_sort_desc {
    display: none;
}

.hide_btn_sort > .btn_sort_asc, .hide_btn_sort > .btn_sort_desc {
    display: none;
}

input[class="hammer_input_option"] + span {
    background: #FFF;
    color: #000;
}

input[class="hammer_input_option"]:checked + span {
    background: #000;
    color: #FFF;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 3px !important;
}

td > input[type="text"], td > input[type="number"], td > select {
    min-width: 45px !important;
    padding: 0 !important;
}

.menus_box li {
    list-style: none;
    cursor: pointer;
}

.menus_box {
    background: #101010;
    color: #FFF !important;
}

.menus_box a {
    color: #FFF !important;
}

.menus_box a:hover {
    color: #000 !important;
    background: #FFF !important;
}

.menus_root > span {
    cursor: pointer;
}

.menus_root .menus_box {
    -display: none;
}

.menus_root:hover .menus_box {
    display: block;
}

.hide_child_li > ul {
    display: none;
}

/* 数据结构的 */
.bi_struct, .bi_struct * {
    display: block;
    float: left;
}

.bi_struct {
    overflow-x: auto;
}

.bi_row {
    width: 100%;
    float: left;
    margin-left: 20px;
    border: 1px solid #000;
}

.bi_array_elements_div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bi_row_title {
    width: 100%;
}

.bi_row_attrs {
    width: 100%;
}

.bi_row_attrs {
    width: 100%;
}

.menu_toggle_btn {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    color: #FFF;
    background: #000;
    cursor: pointer;
    width: 150px;
    margin-left: 0px !important;
}

._dp_menu_root_div {
    float: left;
    width: 150px;
    border-right: 1px solid #000;
    margin-top: 80px;
    padding-bottom: 80px;
    height: 100%;
    overflow: auto;
    margin-right: 1em;
    position: fixed;
}

.body_content_div {
    position: absolute;
    left: 150px;
    padding-left: 2em;
    width: 100%;
}

#w0 > h3 {
    margin-left: 100px;
    color: #FFF;
}
._dp_menu_div {
    border-left: 1px solid #000;
    padding-top: 0.5em;
}
._dp_menus_div > ._dp_menu_div {
    margin-left: 0.5em;
    padding-left: 0.5em;
}

.page_title{
    color: #FFF !important;
}

._dp_title_td{
    cursor: pointer;
}
._dp_title_td:hover{
    background: #AAA;
}
