<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>查询-表</title>
    <link href="/static/_dp/css/bootstrap.css" rel="stylesheet">
    <link href="/static/_dp/css/site.css" rel="stylesheet">
    <link href="/static/_dp/css/bg.css" rel="stylesheet">
    <link href="/static/_dp/css/hammer-struct.css" rel="stylesheet">

    <script src="/static/_dp/js/jquery.js"></script>
    <script src="/static/_dp/js/bootstrap.js"></script>

    <script src="/static/_dp/js/hammer/kl-hammer.js"></script>
    <script src="/static/_dp/js/string/string.js"></script>
    <script src="/static/_dp/js/hammer-yii2/bootstrap.min.2022.10.07.0.js"></script>
    <script src="/static/_dp/js/hammer-yii2/datagrid/datagrid.min.2023.06.13.js?t=<?php echo rand(1,100000);?>"></script>
    <script src="/static/_dp/js/bg.js"></script>
    <script src="/static/_dp/js/hammer/hammer-struct.js"></script>
    <script src="/static/_dp/js/hammer-bg-dbdata.js"></script>
    <script src="/static/_dp/js/hammer/hammer-object-check.js?t=<?php echo rand(1,100000);?>"></script>


<body>

<div class="wrap">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <div id="page_title" class="navbar-brand page_title">【查询-数据】</div>
        </div>
    </nav>
    <div class="container">
        <div class="site-index">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p id="subject_detail"></p>
                </div>
            </div>
            <div class="body-content" id="content_div">
            </div>
        </div>
    </div>
</div>

<script>

    domLoaded(function () {
        let utk = '';

        bg_init(function () {
            utk = window.utk;

            window.serverData.dataLib = {
                admin: {items: [], list: [], map: {}},
                role: {items: [], list: [], map: {}},
                struct: {items: [], list: [], map: {}},
                mainTable: {},
                dbdataTablesTable: {},

            };


            window.serverData.dataLib.bgDataApi = hammerBgDataApi();
            window.serverData.dataLib.bgDataApi.setUserToken(utk);
            window.serverData.dataLib.bgDataApi.setMainTableName(window.serverData.dbconf_name, window.serverData.table_name);


            (async function () {


                // await window.serverData.dataLib.bgDataApi.initRoles(() => {
                //     console.log('角色初始化 1');
                // });
                // console.log('角色初始化');
                console.log('主表初始化0', window.serverData.dataLib.bgDataApi.config.mainTable_dbConfCode, window.serverData.dataLib.bgDataApi.config.mainTable_tableName);
                await window.serverData.dataLib.bgDataApi.init_MainTable_ConfigInfo(() => {
                    console.log('主表初始化 1');
                });
                console.log('主表初始化2', window.serverData.dataLib.bgDataApi.config.mainTable_dbConfCode, window.serverData.dataLib.bgDataApi.config.mainTable_tableName);

                await window.serverData.dataLib.bgDataApi.getTableAllDataRows(window.serverData.dataLib.bgDataApi.config.dbconf_name, window.serverData.dataLib.bgDataApi.config.dbdata_struct_tableName, 'dbdataStructTable', function () {
                    serverData.dataLib.dbdataStructTable.list.forEach((data_row) => {
                        try {
                            window.serverData.dataLib.struct.map[data_row.struct_code] = JSON.parse(data_row.struct_json);
                        } catch (e) {

                        }
                    });
                });


                content();
            })();

            // getRoles(() => {
            //     getMainTableInfo(() => {
            //         content();
            //     })
            // })
        });
        let content = function () {
            let rowIndexCount = 0;


            kl.id('page_title').textContent = kl.id('page_title').textContent + '/' + window.serverData.dataLib.mainTable.tableInfo.title + '/ ' + window.serverData.dataLib.mainTable.tableInfo.table_name;
            document.title = '查:' + window.serverData.dataLib.mainTable.tableInfo.title + '/' + window.serverData.dataLib.mainTable.tableInfo.table_name;
            kl.id('subject_detail').textContent = window.serverData.dataLib.mainTable.tableInfo.remark;


            let raw_root = kl.id('content_div');
            let root = new Emt('div').setPros({className: 'row'});
            raw_root.append(root);


            let add_row_btn = new Emt('button', 'class="btn btn-md btn-info"', '').addNodes([
                new Emt('span', 'class=" glyphicon glyphicon-plus"'),
                new Emt('span', '', '新增')
            ]);
            let toggle_table_with_btn = new Emt('button', 'class="btn btn-md btn-info"', '').addNodes([
                new Emt('span', 'class="glyphicon glyphicon-transfer"'),
                new Emt('span', '', '展开/折叠表格')
            ]);
            let dowload_raw_data_btn = new Emt('button', 'class="btn btn-md btn-info"',).addNodes([
                new Emt('span', 'class="glyphicon glyphicon-download-alt"'),
                new Emt('span', '', '下载原始数据')
            ]);
            let download_table_data_btn = new Emt('button', 'class="btn btn-md btn-info"', '').addNodes([
                new Emt('span', 'class="glyphicon glyphicon-download-alt"'),
                new Emt('span', '', '下载表格数据')
            ]);

            let operation_div = new Emt('div');
            let select_page_info_span = new Emt('span');
            let select_count_info_span = new Emt('span');
            let show_search_modal_btn = new Emt('button', 'class="btn btn-md btn-info"', '').addNodes([
                // new Emt('span','class="glyphicon glyphicon-new-window"'),
                new Emt('span', 'class="glyphicon glyphicon-resize-full"'),
                new Emt('span', '', '查询条件')
            ]);

            let search_btn = new Emt('button', 'class="btn btn-md btn-info"', '').addNodes([
                //  new Emt('span','class="glyphicon glyphicon-play"'),
                new Emt('span', 'class="glyphicon glyphicon-ok"'),
                new Emt('span', '', '查询')
            ]);


            let link_to_datagridtopdiv_anchor = new Emt('a', 'class="btn btn-md btn-info" ', '', {href: '#datagrid-top-div'}).addNodes([
                new Emt('span', 'class="glyphicon glyphicon-arrow-up"'),
                new Emt('span', '', '到顶')
            ]);
            let link_to_datagridpaginationdiv_anchor = new Emt('a', 'class="btn btn-md btn-info"', '', {href: '#datagrid-pagination-div'}).addNodes([
                new Emt('span', 'class="glyphicon glyphicon-arrow-down"'),
                new Emt('span', '', '到底')
            ]);


            let info_div = new Emt('div');
            let datagrid_div = new Emt('div');
            let fixed_tools_div = new Emt('div', 'class="fixed_tools_div"');


            root.addNodes([
                operation_div.addNodes([]),
                info_div.addNodes([
                    select_page_info_span,
                    select_count_info_span
                ]),
                datagrid_div,
                fixed_tools_div.addNodes([
                    search_btn,
                    show_search_modal_btn,
                    link_to_datagridtopdiv_anchor,
                    link_to_datagridpaginationdiv_anchor,
                    add_row_btn,
                    toggle_table_with_btn,
                    dowload_raw_data_btn,
                    download_table_data_btn,
                ])
            ]);


            let hammerYii2Bootstarp1 = hammerYii2Bootstarp();


            let searchModal = hammerYii2Bootstarp1.createModal({title: '修改'});
            let searchForm = hammerYii2Bootstarp1.createForm({dataNameTpl: 'attr[$var]'});
            searchModal.apiHandle.ele.body.addNodes([searchForm]);


            let updateRowModal = hammerYii2Bootstarp1.createModal({title: '修改'});
            let updateRowForm = hammerYii2Bootstarp1.createForm({dataNameTpl: 'attr[$var]'});
            updateRowModal.apiHandle.ele.body.addNodes([updateRowForm]);

            let insertRowModal = hammerYii2Bootstarp1.createModal({title: '添加'});
            let insertRowForm = hammerYii2Bootstarp1.createForm({dataNameTpl: 'attr[$var]'});
            insertRowModal.apiHandle.ele.body.addNodes([insertRowForm]);


            let config = {
                container: datagrid_div,
                components: {//部件，datagrid 默认的部件
                    totalInformation: true,//是否展示 数据多少行 多少页信息，自定义的话，可以在request.after定义
                    pageInfomation: true,//分页操作
                    requestInformation: true,//请求信息，条件 排序 分期
                },
                dataSource: {//请求设置
                    url: '/_dp/v1/dbdata/select',
                    //接受 post 请求的
                    //发送请求 {page_index: x, page_size: y,attr:{},sort:{field:type}} ，然后会追加上 data.append,并且将其当前post_data 输入给 data.fun 再次加工
                    // 返回数据必须满足 {"data":{"rowsTotal":11,"pageTotal":1,"pageIndex":1,"pageSize":1000,"dataRows":[]},
                    downloadable: true,//可下载数据
                    beforeRequest: (event_type, dataGrid) => {
                        console.log(event_type, dataGrid);
                        let page_data = dataGrid.api.getRequestParam();
                        //   console.log('\nsetRequestDataRowsFunction:<<<\n', 'event_type', event_type, 'post_data', page_data, '\n>> setRequestDataRowsFunction\n');
                        if (event_type === 'filter') {
                            console.log('这个不做理会，不然请求太频繁了');
                            return false;
                        }
                        return true;//在xhr 请求之前  做些什么，如果要请求，返回true，不想继续请求 直接false 比如不想请求的太频繁，过掉某些事件
                    },
                    param: {
                        append: {
                            //附加额外的请求参数
                            dbconf_name: window.serverData.dataLib.mainTable.tableInfo.dbconf_name,
                            table_name: window.serverData.dataLib.mainTable.tableInfo.table_name,
                        },
                        fun: (post_data) => {
                            return post_data;//处理请求参数，如果有必要的话
                        },
                    },
                    resultAdapter: (request_res) => {//结果转化器
                        rowIndexCount = 0;
                        //将返回数据整理成 要求的格式 {"data":{"rowsTotal":11,"pageTotal":1,"pageIndex":1,"pageSize":1000,"dataRows":[]},
                        if (request_res.status) {
                            if (request_res.status === 200) {
                                return request_res.data;
                                //handle_callback(res_request_data.data.dataRows);

                                //     select_page_info_span.textContent = '当前页码' + res_request_data.data.pageIndex + '/' + res_request_data.data.pageTotal + '.        .';
                                //   select_count_info_span.textContent = ' 共' + res_request_data.data.rowsTotal + '条';


                            } else {
                                alert('错误:' + (request_res.msg || '未知'))
                            }
                        } else {
                            console.log(request_res.status);
                            alert('请求结果异常')
                        }
                        return request_res;
                    },
                    afterRequest: (request_res, dataGrid) => {

                    },
                    requestButtons: [
                        true,//发请求事件的按钮，第一个代表是否自动生成
                    ],
                },
                paramPreset: {//在初始化之前设置，以这些信息进行初始化
                    attr: serverData.presetAttr || {//过滤器
                        // id: 1,
                    },
                    page: serverData.presetPage || {//分页
                        index: 1,
                        size: 20,
                        sizes: [5, 10, 20, 50, 100],
                    },
                    sort: serverData.presetSort || {//排序
                        id: 'desc'
                    }
                },

                columns: [
                    {
                        handleKey: '_rowIndexCount',
                        attrKey: false,
                        headerText: 'i',
                        sortable: false,
                        filter: {
                            inputs: [
                                false
                            ],
                            config: {
                                valueItems: []
                            }
                        },
                        info: {},
                        fun: (cell, row_data) => {
                            rowIndexCount++;
                            cell.textContent = rowIndexCount.toString();
                        },
                    },
                    {
                        handleKey: 'id',
                        attrKey: 'id',
                        headerText: 'ID',
                        sortable: true,
                        filter: {//过滤器
                            inputs: [
                                true,//第一个代表 header row 里面的，以 true或false 表示要不要生成
                                //xxxx// 要具体的 html element了，必须要实现 getVal/setVal/setOnChange 方法
                            ],
                            config: {
                                valueItems: [],//[ {text:xx,value:xx} ]  ，空代表随便填 input text， 如果不为空代表从里面选择 select ，长度超过 20 datalist
                            }
                        },
                        info: {},
                        fun: false,
                    },
                ],
            };
            delete config.columns[1];//只是演示数据


            //循环添加 列
            window.serverData.dataLib.mainTable.__column.items.forEach((columnConfigInfo) => {

                let inputKey = columnConfigInfo.column_name + 'Input';
                let columnTitle = columnConfigInfo.title || columnConfigInfo.column_name;

                let columnConfig = {
                    handleKey: columnConfigInfo.column_name,
                    attrKey: columnConfigInfo.column_name,
                    headerText: columnTitle,
                    sortable: false,
                    filter: {
                        type: 'text',
                        inputs: [
                            true
                        ],
                        config: {
                            valueItems: columnConfigInfo.valItems
                        }
                    },
                    info: columnConfigInfo,
                    fun: (cell, row_data) => {
                        rowIndexCount++;
                        cell.textContent = rowIndexCount.toString();
                    },
                };

                let inputType = 'text';
                if (columnConfigInfo.db_datatype === 'json') {
                    inputType = 'textarea';
                    if (columnConfigInfo.columnDefault !== undefined && columnConfigInfo.columnDefault.struct_code !== undefined) {
                        updateRowForm[columnConfigInfo.column_name + 'Struct'] = {
                            groupDiv: hammerYii2Bootstarp1.createFormInputGroupDiv({text: '结构'})
                        };
                        insertRowForm[columnConfigInfo.column_name + 'Struct'] = {
                            groupDiv: hammerYii2Bootstarp1.createFormInputGroupDiv({text: '结构'})
                        };
                        //console.log(updateRowForm,insertRowForm,updateRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv,insertRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv,updateRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv);
                        updateRowForm.addNodes([updateRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv]);
                        insertRowForm.addNodes([insertRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv]);
                    }

                }
                if (columnConfigInfo.db_datatype === 'text' || (columnConfigInfo.db_datatype === 'varchar' && columnConfigInfo.db_datatype_len > 64)) {
                    inputType = 'textarea';
                }

                if (columnConfigInfo.valItems.length > 0) {
                    inputType = 'select';
                }
                //  searchForm.apiHandle.addGroupPreCreate().setLabelText(columnTitle).setIndexKey(inputKey).create(inputType === 'select' ? inputType : 'text');
                searchForm.apiHandle.addGroupPreCreate().setLabelText(columnTitle).setHelpblockDetail(columnConfigInfo.remark === columnTitle ? '' : columnConfigInfo.remark).setIndexKey(inputKey).create(columnConfigInfo.query_input_type === 'text' ? inputType : columnConfigInfo.query_input_type);

                if ((['update_time', 'create_time']).indexOf(columnConfigInfo.column_name) === -1) {
                    insertRowForm.apiHandle.addGroupPreCreate().setLabelText(columnTitle).setIndexKey(inputKey).create(inputType);
                    updateRowForm.apiHandle.addGroupPreCreate().setLabelText(columnTitle).setIndexKey(inputKey).create(inputType);
                    if (columnConfigInfo.valItems.length > 0) {
                        updateRowForm.apiHandle.ele.input[inputKey].apiHandle.setItems(columnConfigInfo.valItems);
                        insertRowForm.apiHandle.ele.input[inputKey].apiHandle.setItems(columnConfigInfo.valItems);
                        // console.log(columnConfigInfo, searchForm.apiHandle.ele.input[inputKey]);
                        searchForm.apiHandle.ele.input[inputKey].apiHandle.setItems([{text: '不选', val: ''}].concat(columnConfigInfo.valItems));
                    }
                    if (columnConfigInfo.index_key === 'PRI') {
                        updateRowForm.apiHandle.ele.input[inputKey].readOnly = true;
                        insertRowForm.apiHandle.ele.input[inputKey].remove();
                    }
                }

                columnConfig.sortable = true;
                columnConfig.filter.inputs.push(searchForm.apiHandle.ele.input[inputKey]);
                columnConfig.filter.config = {valueItems: columnConfigInfo.valItems};
                if (columnConfigInfo.valItems.length > 0) {
                    columnConfig.fun = (data_cell, rowData) => {
                        data_cell.addNodes([
                            new Emt('p', 'class="cell_content"', columnConfigInfo.valItemMap[rowData[columnConfigInfo.column_name]] || rowData[columnConfigInfo.column_name])
                        ]);
                    };
                } else {
                    if (columnConfigInfo.out_datatype === "img_uri") {
                        columnConfig.fun = (data_cell, rowData) => {
                            //  data_cell.append();
                            data_cell.addNodes([
                                new Emt('p', 'class="cell_content"', '').addNodes([
                                    new Emt('img', 'class="cell_img"').setPros({src: rowData[columnConfigInfo.column_name]})
                                ])
                            ]);
                        };
                    } else {
                        columnConfig.fun = (data_cell, rowData) => {
                            let tmp_path = '__explain.' + columnConfigInfo.column_name + '.info';
                            //  data_cell.textContent = rowData[columnConfigInfo.column_name] + (kl.isUndefined(rowData, tmp_path) ? '' : ('(' + rowData.__explain[columnConfigInfo.column_name].label) + ')');
                            data_cell.addNodes([
                                new Emt('p', 'class="cell_content"', rowData[columnConfigInfo.column_name] + (kl.isUndefined(rowData, tmp_path) ? '' : ('(' + rowData.__explain[columnConfigInfo.column_name].label) + ')'))
                            ]);
                        };
                    }
                }

                config.columns.push(columnConfig);

            });

            //关联数据
            window.serverData.dataLib.mainTable.relations.forEach((relationInfo) => {
                let inputKey = '__relat__' + relationInfo.relation_res_key;
                searchForm.apiHandle.addGroupPreCreate().setLabelText(relationInfo.relation_res_title).setItems(relationInfo.val_items).setIndexKey(inputKey).create(relationInfo.query_input_type);

                let columnConfig = {
                    handleKey: inputKey,
                    attrKey: inputKey,
                    headerText: relationInfo.relation_res_title,
                    sortable: false,
                    filter: {
                        type: 'text',
                        inputs: [
                            false,
                            searchForm.apiHandle.ele.input[inputKey]
                        ],
                        config: {
                            valueItems: []
                        }
                    },
                    info: relationInfo,
                    fun: (cell, row_data) => {
                        cell.textContent = row_data.__relat[relationInfo.relation_res_key].map((obj) => {
                            return obj._label;
                        }).join('/');
                    },
                };
                config.columns.push(columnConfig);

            });


            searchForm.apiHandle.addGroupPreCreate().setLabelText('#').setIndexKey('submitBtn').setContentText('搜索').setType('button').create('button');
            updateRowForm.apiHandle.addGroupPreCreate().setLabelText('#').setIndexKey('submitBtn').setContentText('修改').setType('button').create('button');
            insertRowForm.apiHandle.addGroupPreCreate().setLabelText('#').setIndexKey('submitBtn').setContentText('保存').setType('button').create('button');

            config.columns.push({
                handleKey: 'op',
                attrKey: false,
                headerText: '操作',
                sortable: false,
                filter: {
                    type: 'text',
                    inputs: [
                        false,
                    ],
                    config: {
                        valueItems: []
                    }
                },
                info: {},
                fun: (cell, row_data) => {
                    let edit_btn = new Emt('button', 'class="btn btn-warning btn-sm"').setPros({textContent: '修改'});
                    edit_btn.addEventListener('click', function () {
                        console.log('修改', cell, row_data);
                        updateRowModal.data_info = {cell: cell, row_data: row_data};
                        window.serverData.dataLib.mainTable.__column.items.forEach((columnConfigInfo) => {
                            let inputKey = columnConfigInfo.column_name + 'Input';
                            if (updateRowForm.apiHandle.ele.input[inputKey] === undefined) {
                                return false;
                            }
                            updateRowForm.apiHandle.ele.input[inputKey].apiHandle.setInitVal(row_data[columnConfigInfo.column_name]);
                            console.log('columnConfigInfo', columnConfigInfo, updateRowForm.apiHandle.ele.input[inputKey], row_data[columnConfigInfo.column_name]);
                            if (columnConfigInfo.db_datatype === 'json' && row_data[columnConfigInfo.column_name] && columnConfigInfo.columnDefault !== undefined && columnConfigInfo.columnDefault.struct_code !== undefined) {
                                let struct_code = columnConfigInfo.columnDefault.struct_code;
                                let row_column_data = kl.jsonDecode(row_data[columnConfigInfo.column_name], {});
                                if (row_column_data.struct_code !== undefined && window.serverData.dataLib.struct.map[struct_code] !== undefined) {
                                    if (updateRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv.apiHandle.ele.dataStruct === undefined) {
                                        updateRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv.apiHandle.ele.dataStruct = new hammerStruct();
                                        updateRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv.apiHandle.addInputEle(updateRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv.apiHandle.ele.dataStruct);
                                    }

                                    updateRowForm[columnConfigInfo.column_name + 'Struct'].groupDiv.apiHandle.ele.dataStruct.setFullStructData(window.serverData.dataLib.struct.map[struct_code]).setInfoData(row_column_data).setCallFunction(function (val) {
                                        updateRowForm.apiHandle.ele.input[inputKey].apiHandle.setChangedVal(JSON.stringify(val));
                                    }).reload();
                                }
                            }

                        });

                        updateRowModal.apiHandle.show();
                    });
                    cell.addNodes([edit_btn]);
                },
            });

            console.log(config);

            let datagrid = hammerBootstarpAsyncDatagrid(config);
            console.log('datagrid', datagrid);
            //  return false;

            if (window.serverData.dataLib.mainTable.__column.items.length === 0) {
                alert('没有任何可选字段');
                // return false;
            }


            search_btn.addEventListener('click', function () {
                datagrid.api.requestData('search_btn');
            });
            show_search_modal_btn.addEventListener('click', function () {
                searchModal.apiHandle.show();
            });
            add_row_btn.addEventListener('click', function () {
                window.serverData.dataLib.mainTable.__column.items.forEach((columnConfigInfo) => {
                    let inputKey = columnConfigInfo.column_name + 'Input';
                    if (insertRowForm.apiHandle.ele.input[inputKey] === undefined) {
                        return false;
                    }
                    insertRowForm.apiHandle.ele.input[inputKey].apiHandle.setInitVal('');
                });

                insertRowModal.apiHandle.show();
            });

            searchForm.apiHandle.ele.input.submitBtn.addEventListener('click', function () {
                datagrid.api.requestData('search_btn');
                searchModal.apiHandle.hide();
            });
            updateRowForm.apiHandle.ele.input.submitBtn.addEventListener('click', function () {
                let changed_attrs = {};
                changed_attrs[window.serverData.dataLib.mainTable.tableInfo.pkKey] = updateRowForm.apiHandle.ele.input[window.serverData.dataLib.mainTable.tableInfo.pkKey + 'Input'].value;
                window.serverData.dataLib.mainTable.__column.items.forEach(function (columnConfigInfo) {
                    let inputKey = columnConfigInfo.column_name + 'Input';
                    if (columnConfigInfo.column_name === window.serverData.dataLib.mainTable.pkKey || updateRowForm.apiHandle.ele.input[inputKey] === undefined) return false;
                    if (updateRowForm.apiHandle.ele.input[inputKey].apiHandle.isChange()) {
                        changed_attrs[columnConfigInfo.column_name] = updateRowForm.apiHandle.ele.input[inputKey].apiHandle.getVal();
                    }
                });
                console.log(changed_attrs);
                //return false;
                kl.ajax({
                    url: '/_dp/v1/dbdata/update',
                    data: {
                        attr: changed_attrs,
                        dbconf_name: window.serverData.dataLib.mainTable.tableInfo.dbconf_name,
                        table_name: window.serverData.dataLib.mainTable.tableInfo.table_name,
                    },
                    type: 'json',
                    success: function (update_res) {
                        if (kl.isUndefined(update_res, 'data.update.res') || update_res.data.update.res === 0) {
                            alert('修改 失败:' + (kl.isUndefined(update_res, 'msg') ? '未知' : update_res.msg));
                        } else {
                            datagrid.api.requestData('row_update');
                            updateRowModal.apiHandle.hide();
                        }
                    },
                    error: function (res_request_data) {
                        console.log(res_request_data);
                        alert('修改 网络异常');
                    }
                })

            });
            insertRowForm.apiHandle.ele.input.submitBtn.addEventListener('click', function () {
                let changed_attrs = {};
                window.serverData.dataLib.mainTable.__column.items.forEach(function (columnConfigInfo) {
                    let inputKey = columnConfigInfo.column_name + 'Input';
                    if (updateRowForm.apiHandle.ele.input[inputKey] === undefined) return false;
                    if (insertRowForm.apiHandle.ele.input[inputKey].apiHandle.isChange()) {
                        changed_attrs[columnConfigInfo.column_name] = insertRowForm.apiHandle.ele.input[inputKey].apiHandle.getVal();
                    }
                });
                console.log(changed_attrs);
                kl.ajax({
                    url: '/_dp/v1/dbdata/add',
                    data: {
                        attr: changed_attrs,
                        dbconf_name: window.serverData.dataLib.mainTable.tableInfo.dbconf_name,
                        table_name: window.serverData.dataLib.mainTable.tableInfo.table_name,
                    },
                    type: 'json',
                    success: function (add_res) {
                        if (kl.isUndefined(add_res, 'data.insert.pk')) {
                            alert('新增 失败:' + (kl.isUndefined(add_res, 'msg') ? '未知' : add_res.msg));
                        } else {
                            datagrid.api.requestData('row_insert');
                            insertRowModal.apiHandle.hide();
                        }
                    },
                    error: function (res_request_data) {
                        alert('新增 网络异常');
                    }
                })

            });

            datagrid.api.init();

            toggle_table_with_btn.addEventListener('click', () => {
                datagrid.api.toggleTableWidth();
            });
            dowload_raw_data_btn.addEventListener('click', () => {
                datagrid.api.downloadRawData();
            });
            download_table_data_btn.addEventListener('click', () => {
                datagrid.api.downloadTableData();
            });

            //   datagrid.ele.topDiv.addNodes([add_row_btn]);
            datagrid.api.requestData('init');


        }
    });
</script>
<style>
    .container {
        width: 100% !important;
    }

    .hammer_input_option {
        display: none;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 3px !important;
    }

    td > input[type="text"], td > input[type="number"], td > select {
        min-width: 45px !important;
        padding: 0 !important;
    }

    .fixed_tools_div {
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .fixed_tools_div > .btn, .datagrid-top-div > .btn {
        margin-left: 1em;
    }

    .container {

    }

    .cell_img {
        max-width: 200px;
        max-height: 100px;
    }

    .cell_content {
        position: relative;
        line-height: 1.4em;
        /* 3 times the line-height to show 3 lines */
        max-height: 5em;
        overflow: hidden;
    }

</style>
<script></script>
<script>

</script>

</body>
</html>

