<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>表结构</title>
    <link href="/static/_dp/css/bootstrap.css" rel="stylesheet">
    <link href="/static/_dp/css/site.css" rel="stylesheet">
    <link href="/static/_dp/css/bg.css" rel="stylesheet">

<body>
<div class="wrap">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <div class="navbar-header"></div>
            <div id="bg_menus_div" class="navbar-brand menus_root">导航</div>
            <div id="w0-collapse" class="collapse navbar-collapse">
                <ul id="w1" class="navbar-nav navbar-right nav">
                    <li><a href="/admin/dbdata/tables.html">所有表</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <script src="/static/_dp/js/hammer/kl-hammer.js"></script>
        <script src="/static/_dp/js/string/string.js"></script>
        <script src="/static/_dp/js/hammer-yii2/bootstrap.min.2022.10.07.0.js"></script>
        <script src="/static/_dp/js/hammer-yii2/datagrid/datagrid.min.2023.04.21.js?t=53332"></script>
        <script src="/static/_dp/js/bg.js"></script>
        <script src="/static/_dp/js/db_struct.js"></script>
        <script src="/static/_dp/js/hammer/hammer-struct.js"></script>

        <script src="/static/file/admin/js/bi_items.js"></script>


        <div class="site-index">

            <div>

            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="page-header" id="h1">【查询-数据】</h3>
                </div>
                <div class="panel-body">
                    <p id="subject_detail"></p>
                </div>
            </div>


            <div class="body-content" id="content_div">


            </div>

        </div>
        <script>

            domLoaded(function () {
                let utk = '';
                bg_init(function () {
                    utk = window.utk;
                    window.serverData.table = {};
                    window.serverData.columns = {};
                    window.serverData.vals_map = {};


                    kl.id('h1').textContent = kl.id('h1').textContent + '/' + serverData.table.title + '/ ' + window.serverData.table_name;
                    document.title = '【查】' + serverData.table.title + '/' + serverData.table.table_name;
                    kl.id('subject_detail').textContent = serverData.table.remark;

                    let root_div = new Emt('div');
                    kl.id('content_div').append(root_div);

                    let json_input_textarea = Emt('textarea');
                    let data_input_textarea = new Emt('textarea', '', '', {value: '{}'});
                    let data_out_textarea = new Emt('textarea');
                    let struct_div = new Emt('div');
                    let json_output_textarea = new Emt('textarea', 'readonly="readonly"');
                    let view_btn = new Emt('button', 'type="button"', '预览');
                    root_div.addNodes([
                        new Emt('div', 'class="json_div"').addNodes([
                            new Emt('h1', '', '结构json 输入'),
                            json_input_textarea
                        ]),
                        new Emt('div', 'class="json_div"').addNodes([
                            new Emt('h1', '', '数据json 输入'),
                            data_input_textarea
                        ]),
                        new Emt('div', 'class="view_div"').addNodes([
                            new Emt('h1', '', '结构展示'),
                            new Emt('p').addNodes([view_btn]),
                            struct_div
                        ]),
                        new Emt('div', 'class="json_div"').addNodes([
                            new Emt('h1', '', '结构json输出'),
                            json_output_textarea
                        ]),
                        new Emt('div', 'class="json_div"').addNodes([
                            new Emt('h1', '', '数据json输出'),
                            data_out_textarea
                        ]),
                    ]);


                    let bi_struct_ele = false;
                    view_btn.addEventListener('click', function () {
                        let tmp_struct_data = false;
                        let tmp_data = false;
                        try {
                            tmp_struct_data = JSON.parse(json_input_textarea.value);
                        } catch (e) {
                            alert('结构json 格式错误');
                            return false;
                        }
                        try {
                            tmp_data = JSON.parse(data_input_textarea.value);
                        } catch (e) {
                            alert('数据json 格式错误');
                            return false;
                        }

                        if (bi_struct_ele !== false) {
                            bi_struct_ele.remove();

                        }
                        bi_struct_ele = new hammerStruct(tmp_struct_data, tmp_data, function (val) {

                            data_out_textarea.style.height = '20px';
                            data_out_textarea.style.height = data_out_textarea.scrollHeight + 'px';
                            data_out_textarea.value = JSON.stringify(val, null, 4);
                        });
                        struct_div.addNode(bi_struct_ele);
                        console.log(bi_struct_ele, tmp_struct_data);
                        json_output_textarea.value = JSON.stringify(tmp_struct_data);


                    });
                    json_input_textarea.value = JSON.stringify(
                        {
                            "struct_code": "config_item_rate",
                            "struct": [
                                {
                                    "key": "rate",
                                    "must": true,
                                    "title": "比率",
                                    "comment": "",
                                    "default": "",
                                    "inputType": "string"
                                }
                            ]
                        }
                        , null, 4);
                    json_input_textarea.value = JSON.stringify(
                        {
                            "struct_code": "config_item_rate",
                            "struct": [
                                {
                                    "key": "rate",
                                    "must": true,
                                    "title": "比率",
                                    "comment": "",
                                    "default": "",
                                    "inputType": "number"
                                },
                                {
                                    "key": "status",
                                    "must": true,
                                    "title": "状态",
                                    "comment": "",
                                    "default": true,
                                    "inputType": "bool"
                                },
                                {
                                    "key": "select_val",
                                    "must": true,
                                    "title": "状态",
                                    "comment": "",
                                    "default": "v3",
                                    "inputType": "select",
                                    "vals": [
                                        {"text": "k1", "val": "v1"},
                                        {"text": "k2", "val": "v2"},
                                        {"text": "k3", "val": "v3"},
                                        {"text": "k4", "val": "v4"},
                                        {"text": "k5", "val": "v5"},
                                    ]
                                },
                                {
                                    "key": "timeUnit",
                                    "must": true,
                                    "title": "时间单位",
                                    "comment": "",
                                    "default": 'H',
                                    "inputType": "date_unit"
                                },
                                {
                                    "key": "info",
                                    "must": true,
                                    "title": "信息",
                                    "comment": "",
                                    "default": "",
                                    "inputType": "object",
                                    "attrs": [
                                        {
                                            "key": "username",
                                            "must": true,
                                            "title": "账户",
                                            "comment": "",
                                            "default": "",
                                            "inputType": "string"
                                        },
                                        {
                                            "key": "password",
                                            "must": true,
                                            "title": "密码",
                                            "comment": "",
                                            "default": "",
                                            "inputType": "string"
                                        },
                                        {
                                            "key": "birth",
                                            "must": true,
                                            "title": "出生",
                                            "comment": "",
                                            "default": "",
                                            "inputType": "object",
                                            "attrs": [
                                                {
                                                    "key": "y",
                                                    "must": true,
                                                    "title": "年",
                                                    "comment": "",
                                                    "default": "",
                                                    "inputType": "string",
                                                },
                                                {
                                                    "key": "m",
                                                    "must": true,
                                                    "title": "月",
                                                    "comment": "",
                                                    "default": "",
                                                    "inputType": "string",
                                                },
                                                {
                                                    "key": "d",
                                                    "must": true,
                                                    "title": "日",
                                                    "comment": "",
                                                    "default": "",
                                                    "inputType": "string",
                                                }
                                            ]
                                        },
                                    ],
                                },
                                {
                                    "key": "strs",
                                    "must": true,
                                    "title": "strs",
                                    "comment": "",
                                    "default": "",
                                    "inputType": "array",
                                    "arrayElementConfig": {
                                        "inputType": "string",
                                        "min": 0,
                                        "max": 0,
                                        "title": "str[]",
                                        "attr": {
                                            "must": true,
                                            "title": "str[]",
                                            "comment": "",
                                            "default": "",
                                            "inputType": "string",
                                        }
                                    }
                                },
                                {
                                    "key": "objects",
                                    "must": true,
                                    "title": "对象数组",
                                    "comment": "",
                                    "default": "",
                                    "inputType": "array",
                                    "arrayElementConfig": {
                                        "min": 0,
                                        "max": 0,
                                        "title": "对象数组 元素",
                                        "comment": "",
                                        "inputType": "object",
                                        "attrs": [
                                            {
                                                "key": "k1",
                                                "must": true,
                                                "title": "objects[]k1",
                                                "comment": "",
                                                "default": "",
                                                "inputType": "string"
                                            },
                                            {
                                                "key": "k2",
                                                "must": true,
                                                "title": "objects[]k2",
                                                "comment": "",
                                                "default": "",
                                                "inputType": "string"
                                            },
                                            {
                                                "key": "objects2",
                                                "must": true,
                                                "title": "lev2对象数组",
                                                "comment": "",
                                                "default": "",
                                                "inputType": "array",
                                                "arrayElementConfig": {
                                                    "min": 0,
                                                    "max": 0,
                                                    "title": "lev2对象数组 元素",
                                                    "comment": "",
                                                    "inputType": "object",
                                                    "attrs": [
                                                        {
                                                            "key": "lev2_k1",
                                                            "must": true,
                                                            "title": "objects[]k1",
                                                            "comment": "",
                                                            "default": "",
                                                            "inputType": "string"
                                                        },
                                                        {
                                                            "key": "lev2_k2",
                                                            "must": true,
                                                            "title": "objects[]k2",
                                                            "comment": "",
                                                            "default": "",
                                                            "inputType": "string"
                                                        },
                                                    ]
                                                }
                                            },
                                        ]
                                    }
                                },
                                {
                                    "key": "arrays",
                                    "must": true,
                                    "title": "数组1",
                                    "comment": "",
                                    "default": "",
                                    "inputType": "array",
                                    "arrayElementConfig": {
                                        "min": 0,
                                        "max": 0,
                                        "key": "arrays",
                                        "must": true,
                                        "title": "数组1[]",
                                        "comment": "",
                                        "default": "",
                                        "inputType": "array",
                                        "arrayElementConfig": {
                                            "min": 0,
                                            "max": 0,
                                            "title": "数组1[][]对象",
                                            "comment": "",
                                            "inputType": "object",
                                            "attrs": [
                                                {
                                                    "key": "k1",
                                                    "must": true,
                                                    "title": "数据[][]->k1",
                                                    "comment": "",
                                                    "default": "",
                                                    "inputType": "string"
                                                },
                                                {
                                                    "key": "k2",
                                                    "must": true,
                                                    "title": "数据[][]->k2",
                                                    "comment": "",
                                                    "default": "",
                                                    "inputType": "string"
                                                },
                                            ]
                                        }
                                    }
                                },
                            ]
                        }
                        , null, 4
                    );
                    data_input_textarea.value = JSON.stringify({rate: 1}, null, 4);

                });


            });
        </script>
        <style>
            .container {
                width: 100% !important;
            }

            .hammer_input_option {
                display: none;
            }

            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                padding: 3px !important;
            }

            td > input[type="text"], td > input[type="number"], td > select {
                min-width: 45px !important;
                padding: 0 !important;
            }

            .view_div, .json_div, .view_div > textarea, .json_div > textarea {
                width: 100%;
                float: left;
                min-height: 200px;
            }

            .object_attrs {
                float: left;
                border-left: 1px solid #000;
                margin-top: 1em;
            }

            .object_attrs > div {
                float: left;
                width: 100%;
            }

            .array_elements {
                float: left;
                border-left: 1px solid #000;
                margin-top: 1em;
            }

            .array_elements > div {
                float: left;
                width: 100%;
            }

            .array_node > button {
                display: block;
                float: left;
            }

            .object_node {
                display: flex;
            }

            .object_node > div:nth-child(1) {
                flex: 0;
            }

            .object_node > div:nth-child(2) {
                flex: 1;
            }

            .input_node {
                display: flex;
            }

            .input_node > div:nth-child(1) {
                flex: 0;
            }

            .input_node > div:nth-child(2) {
                flex: 1;
            }

            .struct_title {
                flex-wrap: nowrap;
                white-space: nowrap;
            }

            .new_array_element_add_div {
                width: 100%;
                display: flex;
            }

            .new_array_element_add_div > div:nth-child(1) {
                flex: 0;
            }

            .new_array_element_add_div > div:nth-child(2) {
                flex: 1;
            }

            .array_content_div {
                border-left: 1px solid #000;
                border-top: 1px solid #000;

                padding-left: 0.5em;
                padding-top: 0.5em;
            }

        </style>
        <script></script>
    </div>
</div>

<script>

</script>


<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; My Company 2022</p>

        <p class="pull-right">Powered by <a href="http://www.yiiframework.com/" rel="external">Yii Framework</a></p>
    </div>
</footer>

<script src="/static/_dp/js/jquery.js"></script>
<script src="/static/_dp/js/bootstrap.js"></script>
</body>
</html>

