<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>【管理所有表】</title>
    <link href="/static/_dp/css/bootstrap.css" rel="stylesheet">
    <link href="/static/_dp/css/site.css" rel="stylesheet">
    <link href="/static/_dp/css/bg.css" rel="stylesheet">
    <link href="/static/_dp/css/hammer-struct.css" rel="stylesheet">


    <script src="/static/_dp/js/jquery.js"></script>
    <script src="/static/_dp/js/bootstrap.js"></script>

    <script src="/static/_dp/js/hammer/kl-hammer.js"></script>
    <script src="/static/_dp/js/string/string.js"></script>
    <script src="/static/_dp/js/hammer-yii2/bootstrap.min.2022.10.07.0.js"></script>
    <script src="/static/_dp/js/hammer-yii2/datagrid/datagrid.min.2023.06.13.js"></script>
    <script src="/static/_dp/js/hammer/hammer-object-check.js"></script>
    <script src="/static/_dp/js/bg.js"></script>
    <script src="/static/_dp/js/hammer-bg-dbdata.js"></script>
    <script src="/static/_dp/js/hammer/hammer-struct.js"></script>


</head>
<body>
<div class="wrap">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <div id="page_title" class="navbar-brand page_title">【管理所有表】</div>
        </div>
    </nav>
    <div class="container">
        <div class="site-index">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="page-header" id="user_nickname">【管理所有表】</h3>
                </div>
                <div class="panel-body">
                    <p id="subject_detail"></p>
                </div>
            </div>
            <div class="body-content" id="content_div">
            </div>
        </div>
    </div>
</div>
<script>
    domLoaded(function () {
            let utk = '';

            bg_init(function () {
                utk = window.utk;

                window.serverData.dataLib = {
                    admin: {items: [], list: [], map: {}},
                    role: {items: [], list: [], map: {}},
                    mainTable: {},
                    dbdataTablesTable: {},
                    struct: {items: [], list: [], map: {}},

                };
                window.serverData.dataLib.bgDataApi = hammerBgDataApi();
                window.serverData.dataLib.bgDataApi.setUserToken(utk);


                (async function () {


                    await window.serverData.dataLib.bgDataApi.initDbConfs(function () {
                        console.log('data-db 配置初始化 1');
                    });
                    console.log('data-db 配置初始化');

                    await window.serverData.dataLib.bgDataApi.init_DbTableConf_ConfigInfo(function () {
                        console.log('data-table 配置初始化 1');
                    });
                    console.log('data-table 配置初始化');

                    await window.serverData.dataLib.bgDataApi.initRoles(() => {
                        console.log('角色初始化 1');
                    });
                    console.log('角色初始化');

                    await window.serverData.dataLib.bgDataApi.getTableAllDataRows(window.serverData.dataLib.bgDataApi.config.dbconf_name, window.serverData.dataLib.bgDataApi.config.dbdata_struct_tableName, 'dbdataStructTable', function () {
                        serverData.dataLib.dbdataStructTable.list.forEach((data_row) => {
                            try {
                                console.log('查询数据结构 ok');
                                window.serverData.dataLib.struct.map[data_row.struct_code] = JSON.parse(data_row.struct_json);
                            } catch (e) {

                            }
                        });
                    });
                    console.log('查询数据结构 结束');

                    content();
                })();

            });
            let content = function () {

                let raw_root = kl.id('content_div');
                let root = new Emt('div').setPros({className: 'row'});
                raw_root.append(root);

                let add_row_btn = new Emt('button', 'class="btn btn-md btn-info"', '').addNodes([
                    new Emt('span', 'class=" glyphicon glyphicon-plus"'),
                    new Emt('span', '', '新增')
                ]);
                let search_btn = new Emt('button', 'class="btn btn-md btn-info"', '').addNodes([
                    //  new Emt('span','class="glyphicon glyphicon-play"'),
                    new Emt('span', 'class="glyphicon glyphicon-ok"'),
                    new Emt('span', '', '查询')
                ]);
                let operation_div = new Emt('div');

                let info_div = new Emt('div');
                let datagrid_div = new Emt('div');
                let fixed_tools_div = new Emt('div', 'class="fixed_tools_div"');


                root.addNodes([
                    operation_div.addNodes([]),
                    info_div.addNodes([]),
                    datagrid_div,
                    fixed_tools_div.addNodes([
                       // add_row_btn,
                        search_btn
                    ])
                ]);


                let rowIndexCount = 0;
                let hammerYii2Bootstarp1 = hammerYii2Bootstarp();


                let editTableConfig_Modal = hammerYii2Bootstarp1.createModal({title: '修改表配置信息'});
                let editTableConfig_Form = hammerYii2Bootstarp1.createForm({dataNameTpl: 'attr[$var]'});
                editTableConfig_Modal.apiHandle.ele.body.addNodes([editTableConfig_Form]);
                editTableConfig_Form.apiHandle.addGroupPreCreate().setLabelText('ID').setIndexKey('idInput').create('text');
                editTableConfig_Form.apiHandle.addGroupPreCreate().setLabelText('数据库').setIndexKey('dbConf').create('text');
                editTableConfig_Form.apiHandle.addGroupPreCreate().setLabelText('表名').setIndexKey('tableName').create('text');
                editTableConfig_Form.apiHandle.addGroupPreCreate().setNameVar('id').setIndexKey('id').create('hide');
                editTableConfig_Form.apiHandle.addGroupPreCreate().setLabelText('表名(汉语)').setPlaceHolder('表名(汉语)').setIndexKey('title').setNameVar('title').create('text');

                editTableConfig_Form.apiHandle.addGroupPreCreate().setLabelText('表描述').setPlaceHolder('备注').setIndexKey('remark').setNameVar('remark').create('textarea');
                editTableConfig_Form.apiHandle.ele.input.idInput.readOnly = true;
                editTableConfig_Form.apiHandle.ele.input.dbConf.readOnly = true;
                editTableConfig_Form.apiHandle.ele.input.tableName.readOnly = true;

                let defaultOptsDataStructDiv = new hammerStruct();
                defaultOptsDataStructDiv.setFullStructData(window.serverData.dataLib.struct.map.dbdataTableDefaultOpts);

                let defaultOpts_groupDiv = hammerYii2Bootstarp1.createFormInputGroupDiv({});
                defaultOpts_groupDiv.apiHandle.setText('默认选项').apiHandle.addInputEle(defaultOptsDataStructDiv);

                editTableConfig_Form.addNode(defaultOpts_groupDiv);


                let roleVerticalTable = window.serverData.dataLib.bgDataApi.createVerticalTable(window.serverData.dataLib.role.codeItems, [
                    {val: 'access_role_codes', text: '读/改/查 '},
                    {val: 'access_insert_role_codes', text: '增'},
                ]);
                let role_groupDiv = hammerYii2Bootstarp1.createFormInputGroupDiv({});
                role_groupDiv.apiHandle.setText('权限控制').apiHandle.addInputEle(roleVerticalTable);
                editTableConfig_Form.addNode(role_groupDiv);


                //label, text, handle_ele_key, callback
                editTableConfig_Form.apiHandle.addGroupPreCreate().setType('button').setContentText('保存').setIndexKey('submit').setClickCall(function (btn) {
                    let rolecodes_map = roleVerticalTable.getData();
                    let attr = {
                        id: editTableConfig_Form.apiHandle.ele.input.idInput.apiHandle.getVal(),
                        title: editTableConfig_Form.apiHandle.ele.input.title.apiHandle.getVal(),
                        remark: editTableConfig_Form.apiHandle.ele.input.remark.apiHandle.getVal(),
                        access_role_codes: JSON.stringify(rolecodes_map.access_role_codes),
                        access_insert_role_codes: JSON.stringify(rolecodes_map.access_insert_role_codes),
                        default_opts: JSON.stringify(defaultOptsDataStructDiv.getResultInfoData()),
                    };
                    console.log(btn, this, editTableConfig_Form.apiHandle, rolecodes_map, attr);
                    //return false;
                    kl.ajax({
                        url: '/_dp/v1/dbdata/update',
                        //attr: form,
                        data: {
                            attr: attr,
                            dbconf_name: window.serverData.dataLib.bgDataApi.config.dbconf_name,
                            table_name: window.serverData.dataLib.bgDataApi.config.dbdata_table_tableName,
                        },
                        type: 'json',
                        success: function (update_tableConfig_res) {
                            if (update_tableConfig_res.status) {
                                if (update_tableConfig_res.status === 200) {
                                    datagrid.api.requestData('init');
                                    //update_tableConfig_res(update_tableConfig_res.data);
                                    editTableConfig_Modal.apiHandle.hide();
                                } else {
                                    alert('修改table config错误:' + (update_tableConfig_res.msg || '未知'))
                                }
                            } else {
                                console.log(update_tableConfig_res);
                                alert('修改table config 结果异常')
                            }
                        },
                        error: function (update_tableConfig_res) {
                            console.log(update_tableConfig_res);
                            alert('修改table config 网络异常');
                        }
                    })
                }).create('button');

                let config = {
                    container: datagrid_div,
                    components: {//部件，datagrid 默认的部件
                        totalInformation: true,//是否展示 数据多少行 多少页信息，自定义的话，可以在request.after定义
                        pageInfomation: true,//分页操作
                        requestInformation: true,//请求信息，条件 排序 分期
                    },
                    dataSource: {//请求设置
                        url: '/_dp/v1/dbdata/select',
                        downloadable: false,//可下载数据
                        beforeRequest: (event_type, dataGrid) => {
                            console.log(event_type, dataGrid);
                            // let page_data = dataGrid.api.getRequestParam();
                            if (event_type === 'filter') {
                                console.log('这个不做理会，不然请求太频繁了');
                                return false;
                            }
                            return true;
                        },
                        param: {
                            append: {
                                //附加额外的请求参数
                                dbconf_name: window.serverData.dataLib.bgDataApi.config.dbconf_name,
                                table_name: window.serverData.dataLib.bgDataApi.config.dbdata_table_tableName,
                            },
                            fun: (post_data) => {
                                if (post_data.attr.dbconf_name === undefined && serverData.dbconf_name !== undefined) {
                                    post_data.attr.dbconf_name = serverData.dbconf_name;
                                }
                                for (let attr_key in post_data.attr) {
                                    if (post_data.attr[attr_key][0] === ':') {
                                        post_data.attr[attr_key] = 'like:%' + post_data.attr[attr_key].substring(1) + '%';
                                    }
                                }
                                return post_data;
                            },
                        },
                        resultAdapter: (request_res) => {
                            rowIndexCount = 0;
                            if (request_res.status) {
                                if (request_res.status === 200) {
                                    return request_res.data;
                                } else {
                                    alert('错误:' + (request_res.msg || '未知'))
                                }
                            } else {
                                console.log(request_res.status);
                                alert('请求结果异常')
                            }
                            return request_res;
                        },
                        afterRequest: (request_res, dataGrid) => {

                        },
                        requestButtons: [
                            true,//发请求事件的按钮，第一个代表是否自动生成
                        ],
                    },
                    paramPreset: {
                        attr: serverData.presetAttr || {//过滤器
                            // id: 1,
                        },
                        page: serverData.presetPage || {//分页
                            index: 1,
                            size: 20,
                            sizes: [5, 10, 20, 50, 100],
                        },
                        sort: serverData.presetSort || {//排序
                            id: 'desc'
                        }
                    },

                    columns: [
                        {
                            handleKey: '_rowIndexCount',
                            attrKey: false,
                            headerText: 'i',
                            sortable: false,
                            filter: {
                                inputs: [
                                    false
                                ],
                                config: {
                                    valueItems: []
                                }
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                rowIndexCount++;
                                cell.textContent = rowIndexCount.toString();
                            },
                        },
                        {
                            handleKey: 'id',
                            attrKey: 'id',
                            headerText: 'ID',
                            sortable: true,
                            filter: {//过滤器
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.id;
                            },
                        },
                        {
                            handleKey: 'title',
                            attrKey: 'title',
                            headerText: '标题',
                            sortable: true,
                            filter: {//过滤器
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.title;
                            },
                        },
                        {
                            handleKey: 'db_code',
                            attrKey: 'db_code',
                            headerText: '数据库code',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.db_code;
                            },
                        },
                        {
                            handleKey: 'dbconf_name',
                            attrKey: 'dbconf_name',
                            headerText: '数据库',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: window.serverData.dataLib.dbconf.codeItems}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.dbconf_name;
                            },
                        },
                        {
                            handleKey: 'table_name',
                            attrKey: 'table_name',
                            headerText: '表名',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.table_name;
                            },
                        },
                        {
                            handleKey: 'is_ok',
                            attrKey: 'is_ok',
                            headerText: '禁用',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: window.serverData.dataLib.dbdataTablesTable.__column.map.is_ok.val_items}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.addNodes([
                                    new Emt('p').setAttrsByStr('', (window.serverData.dataLib.dbdataTablesTable.__column.map.is_ok.valItemMap[row_data.is_ok] || '错误信息')),
                                ]);
                            },
                        },
                        {
                            handleKey: 'remark',
                            attrKey: 'remark',
                            headerText: '备注',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.remark;
                            },
                        },
                        {
                            handleKey: 'access_role_codes',
                            attrKey: 'access_role_codes',
                            headerText: 'access_role_codes',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.access_role_codes;
                            },
                        },
                        {
                            handleKey: 'access_insert_role_codes',
                            attrKey: 'access_insert_role_codes',
                            headerText: 'access_insert_role_codes',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.access_insert_role_codes;
                            },
                        },
                        {
                            handleKey: 'default_opts',
                            attrKey: 'default_opts',
                            headerText: 'default_opts',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.default_opts;
                            },
                        },
                        {
                            handleKey: 'create_time',
                            attrKey: 'create_time',
                            headerText: '创建时间',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                cell.textContent = row_data.create_time;
                            },
                        },
                        {
                            handleKey: 'op',
                            attrKey: false,
                            headerText: '操作',
                            sortable: true,
                            filter: {
                                inputs: [true],
                                config: {valueItems: []}
                            },
                            info: {},
                            fun: (cell, row_data) => {
                                let edit_btn = new Emt('button', 'class="btn btn-warning btn-sm"').setPros({textContent: '修改'});
                                let btn_import_column = new Emt('button', 'class="btn btn-warning btn-sm"').setPros({textContent: '导入字段'});

                                let tmp_info = {dbconf_name: row_data.dbconf_name, table_name: row_data.table_name};
                                //let tmp_json = JSON.stringify(tmp_info).urlencode();
                                let tmp_json = JSON.stringify(tmp_info);
                                let params_str = 'dbconf_name=' + row_data.dbconf_name + '&table_name=' + row_data.table_name;
                                console.log(tmp_info, tmp_json);
                                let a_column = new Emt('a').setPros({className: 'btn btn-info btn-sm', href: '/dp/dbdata/columns?' + params_str, target: '_blank', textContent: 'go管理字段'});
                                let a_select = new Emt('a').setPros({className: 'btn btn-info btn-sm', href: '/dp/dbdata/tableRows?' + params_str, target: '_blank', textContent: 'go查询数据-表'});
                                let a_orm = new Emt('a').setPros({
                                    className: 'btn btn-info btn-sm',
                                    href: '/dev/v1/mysql/orm?conf=' + window.serverData.dataLib.bgDataApi.config.dbconf_name + '&table=' + row_data.table_name,
                                    target: '_blank',
                                    textContent: 'ORM'
                                });


                                edit_btn.addEventListener('click', function () {

                                    console.log('修改', cell, row_data);

                                    editTableConfig_Modal.data_info = {cell: cell, row_data: row_data};
                                    editTableConfig_Form.apiHandle.ele.input.idInput.value = row_data.id;
                                    editTableConfig_Form.apiHandle.ele.input.dbConf.value = row_data.dbconf_name;
                                    editTableConfig_Form.apiHandle.ele.input.tableName.value = row_data.table_name;
                                    editTableConfig_Form.apiHandle.ele.input.title.value = row_data.title;
                                    editTableConfig_Form.apiHandle.ele.input.remark.value = row_data.remark;
                                    try {
                                        defaultOptsDataStructDiv.setInfoData(JSON.parse(row_data.default_opts)).reload();
                                    } catch (e) {
                                        defaultOptsDataStructDiv.setInfoData({}).reload();
                                    }

                                    let tmp_obj = {};
                                    ['access_role_codes', 'access_insert_role_codes'].forEach((column_name) => {
                                        if (row_data[column_name] === null) {
                                            tmp_obj[column_name] = [];
                                        } else {
                                            try {
                                                tmp_obj[column_name] = JSON.parse(row_data[column_name]);
                                            } catch (e) {
                                                tmp_obj[column_name] = [];
                                            }
                                        }
                                    });
                                    roleVerticalTable.loadColumnIndexVals(tmp_obj);

                                    editTableConfig_Modal.apiHandle.show();
                                });

                                btn_import_column.addEventListener('click', function () {
                                    kl.ajax({
                                        url: '/_dp/v1/dbdata/importTableColumns?dbconf_code=' + row_data.dbconf_name + '&table=' + row_data.table_name,
                                        method: 'GET',
                                        type: 'text',
                                        success: function (res_import_columns) {
                                            if (res_import_columns.indexOf('SUCCESS')) {
                                                alert('导入字段成功');
                                            } else {
                                                alert('导入字段 请求结果异常')
                                            }
                                        },
                                        error: function (res_import_columns) {
                                            console.log(res_import_columns);
                                            alert('导入字段 网络异常');
                                        }
                                    })
                                });


                                cell.addNodes([edit_btn, btn_import_column, a_column, a_select, a_orm]);
                            },
                        },
                    ],
                };
                let datagrid = hammerBootstarpAsyncDatagrid(config);
                console.log('datagrid', datagrid);


                datagrid.api.init();
                search_btn.addEventListener('click', function () {
                    datagrid.api.requestData('search_btn');
                });

                datagrid.api.requestData('init');


            }
        }
    );
</script>
<style>
    .container {
        width: 100% !important;
    }

    .hide_btn_sort_asc > .btn_sort_asc {
        display: none;
    }

    .hide_btn_sort_desc > .btn_sort_desc {
        display: none;
    }

    .hide_btn_sort > .btn_sort_asc, .hide_btn_sort > .btn_sort_desc {
        display: none;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 3px !important;

    }

    td > input[type="text"], td > input[type="number"], td > select {
        min-width: 45px !important;
        padding: 0 !important;
    }


    .fixed_tools_div {
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .fixed_tools_div > .btn, .datagrid-top-div > .btn {
        margin-left: 1em;
    }

    .container {

    }

    .cell_img {
        max-width: 200px;
        max-height: 100px;
    }

    .cell_content {
        position: relative;
        line-height: 1.4em;
        /* 3 times the line-height to show 3 lines */
        max-height: 5em;
        overflow: hidden;
    }
</style>


<footer class="footer">
    <div class="container">

    </div>
</footer>


</body>
</html>
