<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RBAC管理</title>
    <link href="/static/_dp/css/bootstrap.css" rel="stylesheet">
    <link href="/static/_dp/css/site.css" rel="stylesheet">
    <link href="/static/_dp/css/bg.css" rel="stylesheet">

    <script src="/static/_dp/js/hammer/kl-hammer.js"></script>
    <script src="/static/_dp/js/string/string.js"></script>
    <script src="/static/_dp/js/hammer-yii2/bootstrap.min.2022.10.07.0.js"></script>
    <script src="/static/_dp/js/bg.js"></script>
    <script src="/static/_dp/js/hammer-bg-dbdata.js"></script>

    <script src="/static/_dp/js/jquery.js"></script>
    <script src="/static/_dp/js/bootstrap.js"></script>

</head>
<body>
<div class="wrap">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar">
        <div class="container">
            <div id="page_title" class="navbar-brand page_title">【RBAC管理】</div>
        </div>
    </nav>
    <div class="container">
        <div class="site-index">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="page-header" id="h1">RBAC管理</h3>
                </div>
                <div class="panel-body">
                    <p id="subject_detail"></p>
                </div>
            </div>
            <div class="body-content" id="content_div">
            </div>
        </div>
    </div>
</div>

<script>

    let markTree = function (data_rows, pid, lev) {
        console.log('树N:', data_rows, pid);
        let menuInfos = [];
        data_rows.forEach(function (menuInfo) {
            if (menuInfo.pid == pid) {
                menuInfo.lev = lev;
                menuInfo.nodes = markTree(data_rows, menuInfo.id, lev + 1);
                menuInfos.push(menuInfo);
            }
        });
        return menuInfos;
    };


    domLoaded(function () {
            let utk = '';

            bg_init(function () {
                utk = window.utk;

                window.serverData.dataLib = {
                    mainTable: {},
                    admin: {items: [], list: [], map: {}, rowMap: {}},
                    role: {items: [], list: [], map: {}, rowMap: {}},
                    task: {items: [], list: [], map: {}, rowMap: {}},
                    action: {items: [], list: [], map: {}, rowMap: {}},
                    userRole: {list: [], map: {}},
                    roleTask: {list: [], map: {}},
                    taskAction: {list: [], map: {}},
                    rbacMap: [],
                    rbacMapList: [
                        {index: 'admin', tableName: '$user_admin_tableName', title: '管理员', isRelationTable: false, val: 'id', text: 'real_name'},
                        {index: 'role', tableName: '$rbac_role_tableName', title: '角色', isRelationTable: false, val: 'id', text: 'role_name'},
                        {index: 'task', tableName: '$rbac_task_tableName', title: '任务', isRelationTable: false, val: 'id', text: 'task_name'},
                        {index: 'action', tableName: '$rbac_action_tableName', title: '操作', isRelationTable: false, val: 'id', text: 'action_name'},
                        {index: 'userRole', tableName: '$rbac_userRole_tableName', title: '用户&角色', isRelationTable: true, indexKey: 'user_id', valKey: 'role_id'},
                        {index: 'roleTask', tableName: '$rbac_roleTask_tableName', title: '角色&任务', isRelationTable: true, indexKey: 'role_id', valKey: 'task_id'},
                        {index: 'taskAction', tableName: '$rbac_taskAction_tableName', title: '任务&操作', isRelationTable: true, indexKey: 'task_id', valKey: 'action_id'},
                    ]
                };

                window.serverData.dataLib.bgDataApi = hammerBgDataApi();
                window.serverData.dataLib.bgDataApi.setUserToken(utk);

                window.serverData.dataLib.rbacMapList.forEach((cfg) => {
                    window.serverData.dataLib.rbacMap[cfg.index] = cfg;
                });

                window.serverData.flushRbacData = (configIndex, fun) => {
                    let cfgInfo = window.serverData.dataLib.rbacMap[configIndex];
                    return kl.ajax({
                        url: '/_dp/v1/dbdata/select?user_token=' + utk,
                        data: {
                            dbconf_name: window.serverData.dataLib.bgDataApi.config.dbconf_name,
                            table_name: cfgInfo.tableName, page_index: 1, page_size: 1000
                        },
                        type: 'json',
                        async: true,
                    }).then(res => {
                        console.log(cfgInfo, res);
                        let res_request_data = res.result;
                        if (res.isOk === false) {
                            alert(res.msg || '请求异常');
                        }
                        if (res_request_data.code && res_request_data.code === 'ok') {
                            window.serverData.dataLib[cfgInfo.index].list = res_request_data.data.dataRows;
                            window.serverData.dataLib[cfgInfo.index].rowMap = {};
                            window.serverData.dataLib[cfgInfo.index].items = [];
                            window.serverData.dataLib[cfgInfo.index].map = {};
                            if (cfgInfo.isRelationTable === false) {
                                window.serverData.dataLib[cfgInfo.index].list.forEach((rowInfo) => {
                                    window.serverData.dataLib[cfgInfo.index].items.push({val: rowInfo[cfgInfo.val], text: rowInfo[cfgInfo.text]});
                                    window.serverData.dataLib[cfgInfo.index].map[rowInfo[cfgInfo.val]] = rowInfo[cfgInfo.text];
                                    window.serverData.dataLib[cfgInfo.index].rowMap[rowInfo[cfgInfo.val]] = rowInfo;
                                });
                            } else {
                                window.serverData.dataLib[cfgInfo.index].list.forEach((rowInfo) => {
                                    if (window.serverData.dataLib[cfgInfo.index].map[rowInfo[cfgInfo.indexKey]] === undefined) {
                                        window.serverData.dataLib[cfgInfo.index].map[rowInfo[cfgInfo.indexKey]] = [];
                                    }
                                    if (rowInfo.is_ok === '1') {
                                        window.serverData.dataLib[cfgInfo.index].map[rowInfo[cfgInfo.indexKey]].push(rowInfo[cfgInfo.valKey]);
                                    }
                                });
                            }
                            if (typeof fun === "function") {
                                fun();
                            }

                        } else {
                            alert('获取菜单列表:结构异常');
                        }
                        return res.isOk;
                    });
                };

                window.serverData.changeRelation = async function (isAdd, relation, data, fun) {
                    let is_ok = isAdd ? 1 : 2;
                    let tmp_map = {
                        userRole: window.serverData.dataLib.rbacMap.userRole,
                        roleTask: window.serverData.dataLib.rbacMap.roleTask,
                        taskAction: window.serverData.dataLib.rbacMap.taskAction,
                    };
                    if (tmp_map[relation] === undefined) {
                        throw '不存在:' + relation;
                    }
                    let tmp_attr = {};
                    if (data[tmp_map[relation].indexKey] === undefined) {
                        throw '需要参数:' + tmp_map[relation].indexKey;
                    } else {
                        tmp_attr[tmp_map[relation].indexKey] = data[tmp_map[relation].indexKey];
                    }
                    if (data[tmp_map[relation].valKey] === undefined) {
                        throw '需要参数:' + tmp_map[relation].valKey;
                    } else {
                        tmp_attr[tmp_map[relation].valKey] = data[tmp_map[relation].valKey];

                    }

                    console.log('changeRelation', isAdd, relation, data, tmp_attr);
                    return kl.ajax({
                        url: '/_dp/v1/dbdata/add?user_token=' + utk,
                        data: {
                            attr: tmp_attr,
                            update_attr: {
                                is_ok: is_ok
                            },
                            dbconf_name: window.serverData.dataLib.bgDataApi.config.dbconf_name, table_name: tmp_map[relation].tableName,
                        },
                        type: 'json',
                        async: true,
                    }).then(res => {
                        fun();
                        return res;
                    })
                };


                (async function () {
                    let res1 = await window.serverData.flushRbacData('role');
                    console.log('role', res1);
                    await window.serverData.flushRbacData('task');
                    console.log('task');
                    await window.serverData.flushRbacData('action');
                    console.log('action');
                    let res = await window.serverData.flushRbacData('roleTask');
                    console.log('roleTask', res);
                    await window.serverData.flushRbacData('taskAction');
                    console.log('taskAction');
                    await window.serverData.flushRbacData('userRole');
                    console.log('userRole');
                    await window.serverData.flushRbacData('admin');
                    console.log('admin');
                    content();
                })();


            });


            content = function () {

                let raw_root = kl.id('content_div');
                let root = new Emt('div', 'class="row content_root_div"');
                raw_root.append(root);


                let users_div = new Emt('div', 'class="users_div"');
                let user_roles_div = new Emt('div', 'class="user_roles_div"');
                let authed_user_roles_div = new Emt('div', 'class="authed_items_div authed_user_roles_div"');
                let unauth_user_roles_div = new Emt('div', 'class="unauth_items_div unauth_user_roles_div"');

                let roles_div = new Emt('div', 'class="roles_div"');
                let role_tasks_div = new Emt('div', 'class="role_tasks_div"');
                let authed_role_tasks_div = new Emt('div', 'class="authed_items_div authed_role_tasks_div"');
                let unauth_role_tasks_div = new Emt('div', 'class="unauth_items_div unauth_role_tasks_div"');

                let tasks_div = new Emt('div', 'class="tasks_div"');
                let task_actions_div = new Emt('div', 'class="task_actions_div"');
                let authed_task_actions_div = new Emt('div', 'class="authed_items_div authed_task_actions_div"');
                let unauth_task_actions_div = new Emt('div', 'class="unauth_items_div unauth_task_actions_div"');
                let unauth_task_actions_search_input = new Emt('input', 'type="text" class="unauth_task_actions_search_input"');

                let actions_div = new Emt('div', 'class="actions_div"');

                let add_user_btn = new Emt('button', 'type="button"', '添加用户');
                let add_role_btn = new Emt('button', 'type="button"', '添加role');
                let add_task_btn = new Emt('button', 'type="button"', '添加task');


                let hammerYii2Bootstarp1 = hammerYii2Bootstarp();


                let add_role_modal = hammerYii2Bootstarp1.createModal({title: '添加角色'});
                let add_role_form = hammerYii2Bootstarp1.createForm({dataNameTpl: 'attr[$var]'});
                add_role_modal.apiHandle.addBodyChildElements([add_role_form]);
                add_role_form.apiHandle.addGroupPreCreate().setLabelText('roleCode').setIndexKey('roleCode').create('text');
                add_role_form.apiHandle.addGroupPreCreate().setLabelText('角色名').setIndexKey('roleName').create('text');
                add_role_form.apiHandle.addGroupPreCreate().setLabelText('#').setIndexKey('submitBtn').setContentText('保存').setType('button').create('button');

                let add_task_modal = hammerYii2Bootstarp1.createModal({title: '添加任务'});
                let add_task_form = hammerYii2Bootstarp1.createForm({dataNameTpl: 'attr[$var]'});
                add_task_modal.apiHandle.addBodyChildElements([add_task_form]);
                add_task_form.apiHandle.addGroupPreCreate().setLabelText('taskCode').setIndexKey('taskCode').create('text');
                add_task_form.apiHandle.addGroupPreCreate().setLabelText('任务名').setIndexKey('taskName').create('text');
                add_task_form.apiHandle.addGroupPreCreate().setLabelText('#').setIndexKey('submitBtn').setContentText('保存').setType('button').create('button');

                let edit_action_modal = hammerYii2Bootstarp1.createModal({title: '修改action'});
                let edit_action_form = hammerYii2Bootstarp1.createForm({dataNameTpl: 'attr[$var]'});
                edit_action_modal.apiHandle.addBodyChildElements([edit_action_form]);
                edit_action_form.apiHandle.addGroupPreCreate().setLabelText('actionId').setIndexKey('actionId').create('text');
                edit_action_form.apiHandle.addGroupPreCreate().setLabelText('actionUri').setIndexKey('actionUri').create('text');
                edit_action_form.apiHandle.addGroupPreCreate().setLabelText('actionCode').setIndexKey('actionCode').create('text');
                edit_action_form.apiHandle.addGroupPreCreate().setLabelText('操作名').setIndexKey('actionName').create('text');
                edit_action_form.apiHandle.addGroupPreCreate().setLabelText('#').setIndexKey('submitBtn').setContentText('保存').setType('button').create('button');
                edit_action_form.apiHandle.ele.input.actionId.readOnly = true;
                edit_action_form.apiHandle.ele.input.actionUri.readOnly = true;


                root.addNodes([
                    new Emt('div', 'class="users_outer_div"').addNodes([
                        new Emt('h1', '', '用户'),
                        users_div,
                        new Emt('div').addNodes([
                            add_user_btn,
                        ]),
                    ]),
                    new Emt('div', 'class="user_roles_outer_div"').addNodes([
                        new Emt('h1', '', '用户名下角色'),
                        user_roles_div.addNodes([
                            authed_user_roles_div,
                            unauth_user_roles_div
                        ]),
                    ]),
                    new Emt('div', 'class="roles_outer_div"').addNodes([
                        new Emt('h1', '', '角色列表'),
                        roles_div,
                        new Emt('div').addNodes([
                            add_role_btn,
                        ]),
                    ]),
                    new Emt('div', 'class="role_tasks_outer_div"').addNodes([
                        new Emt('h1', '', '角色名下任务'),
                        role_tasks_div.addNodes([
                            authed_role_tasks_div,
                            unauth_role_tasks_div
                        ]),
                    ]),
                    new Emt('div', 'class="tasks_outer_div"').addNodes([
                        new Emt('h1', '', '任务'),
                        tasks_div,
                        new Emt('div').addNodes([
                            add_task_btn,
                        ]),
                    ]),
                    new Emt('div', 'class="task_actions_outer_div"').addNodes([
                        new Emt('h1', '', '任务名下操作'),
                        task_actions_div.addNodes([
                            authed_task_actions_div,
                            unauth_task_actions_search_input,
                            unauth_task_actions_div
                        ]),
                    ]),
                    new Emt('div', 'class="actions_outer_div"').addNodes([
                        new Emt('h1', '', '操作/action'),
                        actions_div,
                    ]),

                ]);


                unauth_task_actions_search_input.filter = function () {
                    console.log(unauth_task_actions_search_input.value);
                    let buttons = Object.values(kl.xpathSearch("//div[contains(@class,'unauth_task_actions_div')]//button"));

                    if (unauth_task_actions_search_input.value.length === 0) {
                        buttons.forEach((button) => {
                            button.classList.remove('hide');
                        });
                    } else {
                        buttons.forEach((button) => {
                            button.classList.add('hide');
                        });

                        let button2s = kl.xpathSearch("//div[contains(@class,'unauth_task_actions_div')]//button[contains(text(),'" + unauth_task_actions_search_input.value + "')]");
                        button2s.forEach((button) => {
                            button.classList.remove('hide');
                        })
                    }

                };


                let flushUser = async () => {
                    Object.values(users_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });
                    await window.serverData.flushRbacData('admin');
                    window.serverData.dataLib.admin.list.forEach((adminInfo) => {
                        let user_btn = new Emt('button', 'type="button"', adminInfo.id + ':' + adminInfo.real_name);
                        users_div.addNodes([new Emt('div', 'class="item_user_div"').addNodes([user_btn])]);
                        user_btn.addEventListener('click', () => {
                            let user_buttons = Object.values(kl.xpathSearch("//div[@class='item_user_div']/button"));
                            user_buttons.forEach((user_button) => {
                                user_button.classList.remove('item_selected');
                            });
                            user_btn.classList.add('item_selected');

                            flushUserRole(adminInfo.id);
                        });
                    });
                };
                let flushRole = async () => {
                    Object.values(roles_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });
                    await window.serverData.flushRbacData('role');
                    window.serverData.dataLib.role.list.forEach((roleInfo) => {
                        let role_btn = new Emt('button', 'type="button"', roleInfo.id + '/' + roleInfo.role_code + '/' + roleInfo.role_name);
                        roles_div.addNodes([new Emt('div', 'class="item_role_div"').addNodes([role_btn])]);
                        role_btn.addEventListener('click', () => {
                            let role_buttons = Object.values(kl.xpathSearch("//div[@class='item_role_div']/button"));
                            role_buttons.forEach((role_button) => {
                                role_button.classList.remove('item_selected');
                            });
                            role_btn.classList.add('item_selected');
                            flushRoleTask(roleInfo.id);
                        });
                    });
                };
                let flushTask = async () => {
                    Object.values(tasks_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });
                    await window.serverData.flushRbacData('task');
                    window.serverData.dataLib.task.list.forEach((taskInfo) => {
                        let task_btn = new Emt('button', 'type="button"', taskInfo.id + '/' + (taskInfo.task_code.length === 32 && taskInfo.task_code.indexOf('_') === -1 ? '#' : taskInfo.task_code) + '/' + taskInfo.task_name);
                        tasks_div.addNodes([new Emt('div', 'class="item_task_div"').addNodes([task_btn])]);
                        task_btn.addEventListener('click', () => {
                            let task_buttons = Object.values(kl.xpathSearch("//div[@class='item_task_div']/button"));
                            task_buttons.forEach((task_button) => {
                                task_button.classList.remove('item_selected');
                            });
                            task_btn.classList.add('item_selected');
                            flushTaskAction(taskInfo.id);
                        });
                    });
                };
                let flushAction = async () => {
                    Object.values(actions_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });
                    await window.serverData.flushRbacData('action');
                    window.serverData.dataLib.action.list.forEach((actionInfo) => {
                        let action_btn = new Emt('button', 'type="button"', actionInfo.id + "\n" + actionInfo.action_name + "\n" + actionInfo.action_code + "\n" + actionInfo.action_uri);
                        actions_div.addNodes([new Emt('div', 'item_action_div').addNodes([action_btn])]);
                        action_btn.addEventListener('click', () => {
                            //flushUserRole(actionInfo.id);
                            edit_action_modal.apiHandle.show();
                            edit_action_form.apiHandle.ele.input.actionCode.value = actionInfo.action_code;
                            edit_action_form.apiHandle.ele.input.actionName.value = actionInfo.action_name;
                            edit_action_form.apiHandle.ele.input.actionId.value = actionInfo.id;
                            edit_action_form.apiHandle.ele.input.actionUri.value = actionInfo.action_uri;

                        });
                    });
                };
                let flushUserRole = async (userId) => {
                    Object.values(unauth_user_roles_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });
                    Object.values(authed_user_roles_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });

                    if (!userId) {
                        return false;
                    }
                    await window.serverData.flushRbacData('userRole');
                    let role_ids = window.serverData.dataLib.userRole.map[userId] || [];

                    window.serverData.dataLib.role.list.forEach((roleInfo) => {
                        let user_role_div = new Emt('div');
                        let user_role_btn = new Emt('button', 'type="button"', roleInfo.id + '/' + roleInfo.role_code + '/' + roleInfo.role_name);
                        user_role_div.addNodes([
                            user_role_btn
                        ]);
                        let isAdd = true;
                        if (role_ids.indexOf(roleInfo.id) === -1) {
                            unauth_user_roles_div.addNodes([
                                user_role_div
                            ]);
                        } else {
                            authed_user_roles_div.addNodes([
                                user_role_div
                            ]);
                            isAdd = false;
                        }
                        user_role_btn.addEventListener('click', () => {
                            window.serverData.changeRelation(isAdd, 'userRole', {user_id: userId, role_id: roleInfo.id}, () => {
                                flushUserRole(userId);
                            });
                        });
                    });

                };
                let flushRoleTask = async (roleId) => {
                    Object.values(unauth_role_tasks_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });
                    Object.values(authed_role_tasks_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });

                    if (!roleId) {
                        return false;
                    }
                    await window.serverData.flushRbacData('roleTask');
                    let role_ids = window.serverData.dataLib.roleTask.map[roleId] || [];

                    window.serverData.dataLib.task.list.forEach((taskInfo) => {
                        let role_task_div = new Emt('div');
                        let role_task_btn = new Emt('button', 'type="button"', taskInfo.id + '/' + taskInfo.task_code + '/' + taskInfo.task_name);
                        role_task_div.addNodes([
                            role_task_btn
                        ]);
                        let isAdd = true;
                        if (role_ids.indexOf(taskInfo.id) === -1) {
                            unauth_role_tasks_div.addNodes([
                                role_task_div
                            ]);
                        } else {
                            authed_role_tasks_div.addNodes([
                                role_task_div
                            ]);
                            isAdd = false;
                        }
                        role_task_btn.addEventListener('click', () => {
                            window.serverData.changeRelation(isAdd, 'roleTask', {role_id: roleId, task_id: taskInfo.id}, () => {
                                flushRoleTask(roleId);
                            });
                        });
                    });

                };
                let flushTaskAction = async (taskId) => {
                    Object.values(unauth_task_actions_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });
                    Object.values(authed_task_actions_div.childNodes).forEach((ele) => {
                        ele.remove();
                    });

                    if (!taskId) {
                        return false;
                    }
                    await window.serverData.flushRbacData('taskAction');
                    let role_ids = window.serverData.dataLib.taskAction.map[taskId] || [];

                    window.serverData.dataLib.action.list.forEach((actionInfo) => {
                        let task_action_div = new Emt('div');
                        let task_action_btn = new Emt('button', 'type="button"', actionInfo.id + "\n" + actionInfo.action_name + "\n" + actionInfo.action_code + "\n" + actionInfo.action_uri);
                        task_action_div.addNodes([
                            task_action_btn
                        ]);
                        let isAdd = true;
                        if (role_ids.indexOf(actionInfo.id) === -1) {
                            unauth_task_actions_div.addNodes([
                                task_action_div
                            ]);
                        } else {
                            authed_task_actions_div.addNodes([
                                task_action_div
                            ]);
                            isAdd = false;
                        }
                        task_action_btn.addEventListener('click', () => {
                            window.serverData.changeRelation(isAdd, 'taskAction', {task_id: taskId, action_id: actionInfo.id}, () => {
                                flushTaskAction(taskId);
                            });
                        });
                    });
                    unauth_task_actions_search_input.filter();


                };

                flushUser();
                flushRole();
                flushTask();
                flushAction();


                unauth_task_actions_search_input.addEventListener('keyup', function () {
                    unauth_task_actions_search_input.filter();
                });

                add_user_btn.addEventListener('click', function () {
                    //add_user_modal.apiHandle.show();
                });
                add_role_btn.addEventListener('click', function () {
                    add_role_modal.apiHandle.show();
                });
                add_task_btn.addEventListener('click', function () {
                    add_task_modal.apiHandle.show();
                });


                add_role_form.apiHandle.ele.input.submitBtn.addEventListener('click', function () {
                    kl.ajax({
                        url: '/_dp/v1/dbdata/add?user_token=' + utk,
                        data: {
                            attr: {
                                role_code: add_role_form.apiHandle.ele.input.roleCode.value,
                                role_name: add_role_form.apiHandle.ele.input.roleName.value,
                            },
                            dbconf_name: window.serverData.dataLib.bgDataApi.config.dbconf_name, table_name: window.serverData.dataLib.rbacMap.role.tableName,
                        },
                        type: 'json',
                        async: true,
                    }).then(res => {
                        console.log(res);
                        if (kl.isUndefined(res, 'result.data.insert.pk')) {
                            alert('新增role失败:' + (kl.isUndefined(res, 'result.msg') ? '未知' : res.result.msg));
                        } else {
                            flushRole();
                            add_role_modal.apiHandle.hide();
                        }
                        return res;
                    })
                });
                add_task_form.apiHandle.ele.input.submitBtn.addEventListener('click', function () {
                    kl.ajax({
                        url: '/_dp/v1/dbdata/add?user_token=' + utk,
                        data: {
                            attr: {
                                task_code: add_task_form.apiHandle.ele.input.taskCode.value,
                                task_name: add_task_form.apiHandle.ele.input.taskName.value,
                            },
                            dbconf_name: window.serverData.dataLib.bgDataApi.config.dbconf_name, table_name: window.serverData.dataLib.rbacMap.task.tableName,
                        },
                        type: 'json',
                        async: true,
                    }).then(res => {
                        console.log(res);
                        if (kl.isUndefined(res, 'result.data.insert.pk')) {
                            alert('新增task失败:' + (kl.isUndefined(res, 'result.msg') ? '未知' : res.result.msg));
                        } else {
                            flushTask();
                            add_task_modal.apiHandle.hide();
                        }
                        return res;
                    })

                });
                edit_action_form.apiHandle.ele.input.submitBtn.addEventListener('click', function () {
                    kl.ajax({
                        url: '/_dp/v1/dbdata/update?user_token=' + utk,
                        data: {
                            attr: {
                                id: edit_action_form.apiHandle.ele.input.actionId.value,
                                action_code: edit_action_form.apiHandle.ele.input.actionCode.value,
                                action_name: edit_action_form.apiHandle.ele.input.actionName.value,
                            },
                            dbconf_name: window.serverData.dataLib.bgDataApi.config.dbconf_name, table_name: window.serverData.dataLib.rbacMap.action.tableName,
                        },
                        type: 'json',
                        async: true,
                    }).then(res => {
                        console.log(res);
                        if (kl.isUndefined(res, 'result.data.update.res') || res.result.data.update.res === 0) {
                            alert('修改action失败:' + (kl.isUndefined(res, 'result.msg') ? '未知' : res.result.msg));
                        } else {
                            flushAction();
                            edit_action_modal.apiHandle.hide();
                        }
                        return res;
                    });
                });


            }
        }
    );
</script>
<style>

    .content_root_div {
        float: left;
        width: auto;
        width: 3000px;
    }


    .users_outer_div, .roles_outer_div, .tasks_outer_div, .actions_outer_div {
        margin-left: 5em;
    }


    .users_outer_div, .roles_outer_div, .tasks_outer_div, .actions_outer_div, .user_roles_outer_div, .role_tasks_outer_div, .task_actions_outer_div {
        float: left;
        width: auto;
        border: 1px solid #000;
    }

    .users_div, .roles_div, .tasks_div, .actions_div, .user_roles_div, .role_tasks_div, .task_actions_div {
        float: left;
        width: auto;
    }

    .users_div button, .roles_div button, .tasks_div button, .actions_div button {
        margin-top: 10px;
    }

    .unauth_items_div {
        margin-top: 50px;
        min-width: 100px;
    }

    .authed_items_div {
        margin-top: 50px;
        min-width: 100px;
    }

    .unauth_task_actions_search_input {
        margin-top: 50px;
        min-width: 100px;
        width: 100%;
        padding: 1em;
    }


    .unauth_items_div button, .authed_items_div button {
        font-size: 0.5em;
        border: none;
        margin-top: 10px;
    }

    .authed_items_div button {

        color: #FFF;
        background: #0F0;
    }


    .unauth_items_div button {
        color: #FFF;
        background: #666;
    }

    .task_actions_div button, .actions_div button {
        overflow-wrap: break-word;
        white-space: pre-wrap;
        text-align: left;
    }

    .item_selected {
        color: #FFF;
        background: #000;
    }

</style>

<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; My Company 2022</p>

        <p class="pull-right">Powered by <a href="http://www.yiiframework.com/" rel="external">Yii Framework</a></p>
    </div>
</footer>


</body>
</html>
